# Python
__pycache__/
*.pyc
*.pyo
.venv/
dist/
*.egg-info/
.eggs/

# AWS SAM
.aws-sam/

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Build
build/
*.zip
